<section class="intro">
  <div class="container">
    <p class="lead">Hi, <a href="https://www.linkedin.com/in/kurkavojtech/">I am V</a>. I am Head Nerd (CTO) and co-founder at&nbsp;<a href="https://meiro.io?utm_campaign=v_blog">Meiro</a>, based in Brno, Czech Republic. I started Brave&nbsp;New&nbsp;Obvious as a way to document all the small victories and big facepalms I experience each day building a data product. Read more <a href="/about">about&nbsp;me.</a> You can find me on <a href="https://twitter.com/kurkavojtech">Twitter</a> and <a href="https://www.facebook.com/kurka.vojtech/">Facebook</a>.</p>
  </div>
</section>
